@import url(./root.css);

.team-title{
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 36px;
}

.whoweare{
    font-family: var(--text-font);
}

.who-title{
    font-weight: var(--title-weight);
    size: 18px;
    text-transform: uppercase;
}

.who-text{
    font-weight: var(--text-weight);
    size:14px;
}

.name{
    font-family:var(--text-font);
    font-weight: var(--title-weight);
    font-size: 18px;
}

.role{
    font-family: var(--title-font);
    size: 12px;
    text-transform: uppercase;
    font-size: 12px;
}

.photo{
    width: 138.72px;
    height: 209px;
}